      /* Styles required for the PDF viewer */
      #pdfContainer {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }

      .page-container {
          margin: 10px;
      }

      @media (max-width: 768px) {
          .page-container {
              width: 100%;
              margin: 10px 0;
          }
      }

      /* Global CSS Reset */
      html {
          box-sizing: border-box;
          font-size: 10px;
      }

      *,
      *:before,
      *:after {
          box-sizing: inherit;
      }

      body,
      ul,
      li {
          margin: 0;
          padding: 0;
      }

      li {
          list-style: none;
      }

      body {
          margin: 0;
          padding: 0;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          /* Background gradient */
          background-image: radial-gradient(circle at 0% 0%,
                  #373b52,
                  #252736 51%,
                  #1d1e26);
      }

      /* Flex spacer */
      .demo-flex-spacer {
          flex-grow: 1;
      }

      /* Container styles */
      .container {
          display: flex;
          flex-direction: column;
          height: 100vh;
          max-width: 1600px;
          padding: 0 15px;
          margin: 0 auto;
      }

      /* Background animation keyframes */
      @-webkit-keyframes gradient {
          0% {
              background-position: 0 0;
          }

          100% {
              background-position: 100% 0;
          }
      }

      @keyframes gradient {
          0% {
              background-position: 0 0;
          }

          100% {
              background-position: 100% 0;
          }
      }

      /* Arrow icon color */
      .ion-android-arrow-forward {
          color: #1d1e26;
      }