/* CSS Reset */
/* Set the base font size and box-sizing properties */
html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Reset margin and padding for specific elements */
body,
ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

/* Remove underlines from links */
a {
    text-decoration: none;
}

/* Remove borders, background, and outline from input elements */
input {
    border-style: none;
    background: transparent;
    outline: none;
}

/* Remove padding, background, and borders from buttons */
button {
    padding: 0;
    background: none;
    border: none;
    outline: none;
}

/* Body styles */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* Set a background gradient */
    background-image: radial-gradient(circle at 0% 0%,
            #373b52,
            #252736 51%,
            #1d1e26);
}

/* Header 1 styles */
h1.demo {
    text-align: center;
    font-size: 2.4rem;
    font-weight: normal;
    margin-bottom: 1rem;
    color: #f5f6ff;
}

/* Anchor (link) styles */
a.demo {
    text-align: center;
    font-size: 1.6rem;
    font-weight: normal;
    color: rgba(202, 205, 239, 0.8);
    margin-bottom: 3rem;
}

/* Flex spacer for layout */
.demo-flex-spacer {
    flex-grow: 1;
}

/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 1600px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Animation keyframes for gradient background */
@-webkit-keyframes gradient {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

/* Styling for the input container */
.webflow-style-input {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 2px;
    padding: 1.4rem 2rem 1.6rem;
    background: rgba(57, 63, 84, 0.8);
}

/* Styling for the input underline animation */
.webflow-style-input:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right,
            #b294ff,
            #57e6e6,
            #feffb8,
            #57e6e6,
            #b294ff,
            #57e6e6);
    background-size: 500% auto;
    -webkit-animation: gradient 3s linear infinite;
    animation: gradient 3s linear infinite;
}

/* Styling for the input text */
.webflow-style-input input {
    flex-grow: 1;
    color: #bfd2ff;
    font-size: 1.8rem;
    line-height: 2.4rem;
    vertical-align: middle;
}

/* Styling for the input placeholder text */
.webflow-style-input input::-webkit-input-placeholder {
    color: #7881a1;
}

/* Styling for the input button */
.webflow-style-input button {
    color: #7881a1;
    font-size: 2.4rem;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color 0.25s;
}

/* Hover styling for the input button */
.webflow-style-input button:hover {
    color: #bfd2ff;
}

/* Icon styling */
.ion-android-arrow-forward {
    color: #1d1e26;
}

/* Image styles */
img {
    width: 10px;
    height: 10px;
}