<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Github | @Ayaato</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="demo-flex-spacer"></div>

      <!-- Displaying a dynamic message -->
      <h1 class="demo" style="font-size: 25px;">{{message}}</h1>

      <div class="demo-flex-spacer"></div>
    </div>
  </body>
</html>
