<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Second Book!</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pdf.css') }}">

</head>

<body>
  <!--
    This HTML file is a simple HTML template used to display a PDF document.
    The PDF document is loaded onto the page using the PDF.js library, and its content is displayed.
    -->

  <!-- Placeholder for the PDF viewer -->
  <center>
    <div id="pdfContainer"></div>
  </center>

  <div class="demo-flex-spacer"></div>
  <div class="demo-flex-spacer"></div>

  <!-- JavaScript libraries for PDF.js and other scripts -->
  <script src="{{ url_for('static', filename='pdf.js') }}"></script>
  <script src="{{ url_for('static', filename='pdf.worker.js') }}"></script>
  <script>
    // These JavaScript code snippets load the PDF viewer and display the PDF document.
    // You should specify the URL of your PDF file, and it will be loaded and displayed with PDF.js.
    // Additionally, right-clicking, copying, and dragging are disabled to protect the content.

    // Loading the PDF viewer
    const pdfUrl = "{{ url_for('static', filename='firstbook.pdf') }}"; // URL of your PDF file
    const container = document.getElementById("pdfContainer");

    pdfjsLib.getDocument(pdfUrl).promise.then((pdfDoc) => {
      for (let pageNum = 1; pageNum <= pdfDoc.numPages; pageNum++) {
        pdfDoc.getPage(pageNum).then((page) => {
          const viewport = page.getViewport({ scale: 1.5 });
          const canvas = document.createElement("canvas");
          const canvasContext = canvas.getContext("2d");
          canvas.height = viewport.height;
          canvas.width = viewport.width;

          const pageContainer = document.createElement("div");
          pageContainer.className = "page-container";
          pageContainer.appendChild(canvas);

          container.appendChild(pageContainer);

          // Rendering the page to canvas
          page.render({
            canvasContext,
            viewport,
          });
        });
      }
    });

    /* Preventing right-click and copy actions */
    document.addEventListener("contextmenu", function (event) {
      event.preventDefault();
    });

    document.addEventListener("copy", function (event) {
      event.preventDefault();
      alert(
        "Copying pages is BLOCKED. If you continue attempting the same actions, you may be PERMANENTLY removed from the page."
      );
    });

    /* Preventing drag and drop */
    document.addEventListener("dragstart", function (event) {
      event.preventDefault();
      alert(
        "Attempting to copy pages by drag-and-drop is BLOCKED. If you continue attempting the same actions, you may be PERMANENTLY removed from the page."
      );
    });
  </script>
</body>

</html>