<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Github | @Ayaato</title>

    <!-- Define the website favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />

    <!-- Embedded CSS styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <!-- Spacer -->
      <div class="demo-flex-spacer"></div>

      <!-- Form for input -->
      <form action="/check" method="post">
        <h1 class="demo">With which e-mail did you receive the book?</h1>
        <div class="webflow-style-input">
          <input id="txtEmail" name="txtEmail" placeholder="Enter your mail" />
          <button type="submit">➤</button>
        </div>
      </form>

      <!-- Spacer -->
      <div class="demo-flex-spacer"></div>

      <!-- Link to purchase -->
      <h1 class="demo">Do you want to buy the book?</h1>
      <a
        class="demo"
        href="LINK OF BOOK"
        title="YOUR_NAME"
        >Click to buy the book!
      </a>
    </div>
  </body>
</html>
