<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Github | @Ayaato</title>
    
    <!-- Define the website favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    
    <!-- Embedded CSS styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body>
    <div class="container">
      <div class="demo-flex-spacer"></div>

      <!-- Form for entering verification code -->
      <form action="/verification" method="post">
        <h1 class="demo">We have sent a verification code to your mail!</h1>
        <div class="webflow-style-input">
          <input id="verification_code" name="verification_code" placeholder="Enter verification code" />
          <button type="submit">➤</button>
        </div>
      </form>

      <!-- Spacer -->
      <div class="demo-flex-spacer"></div>

      <!-- Your link -->
      <h1 class="demo">YOUR_NAME</h1>
      <a
        class="demo"
        href="YOUR_LINK"
        title="YOUR_NAME"
        >YOUR_TEXT
      </a>
    </div>
  </body>
</html>
